.NoContentPage {
  border: 1px solid #A4A6B3;
  color: #000;
  border-radius: 10px;
  margin: auto;
  padding: 1em;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.NoContentPage:hover {
  border-radius: 0 400% 200% 0;
  border-color: #FC3C8D;
  color: #FC3C8D;
  animation: crazysloppy infinite 0.5s;
}

@keyframes crazysloppy {
  0%, 100% {
    border-radius: 0 400% 200% 0;
  }
  50% {
    border-radius: 0 200% 400% 0;
  }
}
