// bg palettes
$primaryBg: #ffff;
$secondaryBg: #363740;

// text palettes
$textPrimary: #000;
$textSecondary: #A4A6B3;
$textHighLightOnBlack: #ffff;
$textHighLightOnWhite: #FC3C8D;
$priceText: #2F80ED;
$dateText: #FEC400;

// navbar & sidebar
$sideScrollThumb: #FC3C8D;
$sideScrollTrack: #A4A6B3;
$sideNavTextPrim: #A4A6B3;
$sideNavHighLightTxt: #ffff;
$sideNavBorderHighLight: #FC3C8D;
$selectedNavIcon: #463746;

// loader
$loadingDots: #5e5e5e